body
{
	background-color: rgb(241,241,241);
}

/* Bloc parent de la page */
.container
{
	margin-top: 150px;
	width:320px;
	box-shadow: 0 1px 3px rgba(114,114,114,1);
	background: rgb(181,189,200); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(114,114,114,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(100%,rgba(114,114,114,1))); 
	background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(114,114,114,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(114,114,114,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(114,114,114,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(114,114,114,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#727272',GradientType=0 ); /* IE6-9 */
	border-radius: 7px;
	padding: 10px 30px 10px 30px;
}

#button-connect
{
	background: #2ea2cc;
	border-color: #0074a2;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
	color: #fff;
	text-decoration: none;
	height: 30px;
	line-height: 28px;
	padding: 0 12px 2px;
}

.title
{
	font-size: 1.5em;
	color: white;
}

.connect-field
{
	height: 40px;
}



