a{
	text-decoration: none;
	transition: all .2s ease-in-out;
}

a:hover{
	text-decoration: none;
}

#header
{
	background-color:#525353;
	box-shadow: 0px 1px 12px #555;
	border: 0;
	z-index: 1500;
}

body
{
	background-color: rgb(241,241,241);
}

#site-icon{
	float:left; 
	margin-right: 10px; 
	margin-top: 5px;
	height: 40px;
}

.main 
{
	background-color: rgb(241,241,241);
}

.card{
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .2s ease-in-out;
	height:180px; 
	width:200px;
	margin:10px;
	line-height:180px;
	text-align:center; 
}

.card:hover{
	background-color: rgb(210,210,210);
	cursor: pointer;
	border: 1px solid rgb(210,210,210);
}

.progress{
	position: absolute;
	bottom: 0;
	width: 150px;
	margin-left:25px;
}

.progress-bar{
	/*background-color:rgba(66, 139, 202, 0.70);*/
}

#menu-left
{
	background-color: rgba(114,114,114,1);
}

#menu-left a
{
	color: #eee;
	font-size: 1.2em;
	font-family: "Open Sans",sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
}

#menu-left a:hover
{
	color: black;
	background-color: rgb(241,241,241);
}

.sidebar
{
	top: 50px;
	border-right:none;
}

.coin
{
	position: absolute;
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-right: 22px solid rgb(241,241,241);
    border-bottom: 22px solid transparent;
    right: 0%;
    top:0%
}

#search-main
{
	border-radius: 50px;
	background-color: rgb(241,241,241);
	background : rgb(241,241,241) url(../images/search-icon.svg) center right no-repeat;
	background-size: 15px;
	background-position: 96%;
	border: 1px solid #101010;
}

#search-main:hover
{
	border-radius: 50px;
	background-color: rgb(255,255,255);
	border: 1px solid #101010;
}

#search-main:focus
{
	border-radius: 50px;
	background-color: rgb(255,255,255);
	border: 1px solid #101010;
}

.button-connect
{
	background: #2ea2cc;
	background-color: #d9534f;
	border-color: #d43f3a;
	color: #fff;
	text-decoration: none;
	height: 30px;
	line-height: 28px;
	padding: 0 12px 2px;
}

.button-connect:hover
{
	background-color: #D83431;
	border-color: #d43f3a;
}

.aaa
{
	border-color: #d43f3a;
	color: #fff;
	text-decoration: none;
	height: 30px;
	line-height: 28px;
	padding: 0 12px 2px;
}

#menu-admin
{
	background-color: #CCCCCC;
	padding: 8px 40px;
}

#menu-admin #ul-admin
{
	list-style: none outside none;
	padding: 2px;
}

#menu-admin #ul-admin li.li-niveau1
{
	float: left;
	text-align: center;
	padding: 5px 0 5px 1px;
}

#menu-admin #ul-admin li.li-niveau1 .coin {
    border: medium none;
}

#menu-admin a {
    color: #111111;
    font-family: "Open Sans",sans-serif;
    font-size: 1em;
	padding: 0px 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 0 1px;
}

/*
#nav_menus {
	float: left;
	position: relative;
}

#nav_menus ul{
	position: absolute;
	list-style-type: none;
	margin: 0px 10px 0px 0px;
	padding: 0px 10px 0px 0px;
	top: 0px;
	visibility: hidden;
}

#nav_menus ul li{
	margin: 0px 10px 0px 0px;
	padding: 3px 0px 0px 0px;
	font-size: 15px;
	font-weight: bold;
	color: #003399;
}

#nav_menus ul li a{
	text-decoration: none;
	color: #003399;
}

#nav_menus ul.exange{
	left: 18px;
}
*/

#admin_table fieldset{
    border:1px solid #808080;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;
    padding-left: 20px;
    margin-bottom: 30px;
}
#admin_table legend{
	padding: 0 8px;
	width:auto;
	margin-bottom: 10px;
}

#admin_table input[type="submit"]{
	margin-left: 270px;
}

#creer_table{
	width: 350px;
	float: left;
}

#addProf > table td, #searchProf > table td, #editProf > table td, #deleteProf > table td
{
	border:none;
}

#addModule > table td, #searchModule > table td, #editModule > table td, #deleteModule > table td {
    border: medium none;
}

#addDecharge > table td, #searchDecharge > table td, #editDecharge > table td, #deleteDecharge > table td {
    border: medium none;
}

#addCourse > table td, #searchCourse > table td, #editCourse > table td, #deleteCourse > table td {
    border: medium none;
}

#rechercheModule {
/*	float:right;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;
    padding-left: 20px;
    margin-bottom: 30px;*/

}

#rechercheModule legend{
	padding: 0 8px;
	width:auto;
	margin-bottom: 10px;
}

.subscribed{
	background-color: #dff0d8;
}

.unsubscribed{
	background-color: #d9edf7;
}

.text-justify{
	 text-align: justify;
}
#module_struct{
	width: 450px;
	float: left;
	margin-right: 20px;
	position: relative;
}

#module_sprim{

	float: left;	
}